<div class="container">
    <div class="row text-right">
        <div class="col-12">
            <h1 class="text text-center text-light mt-4">Eat Da Burger! YUMMM</h1>
            <br>
            {{!-- <img src="/assets/img/burger.jpg" alt="burgers"/> --}}

            <h3 class="text text-light mr-5 pt-5">Yummy Burgers!</h3>
        </div>
    </div>

    <div class="row text-light text-right">
        <div class="col-6">
            <h3 class="text"></h3>
            <ul>
                {{#each burgers}} {{#unless devoured}}
                    <p class="notEaten">
                        {{this.id}} {{this.burger_name}}
                        {{!-- eaten connects to the burger_javascript.js when button clicked and created ajax to change devoured to true --}}
                        <button class="btn btn-success font-weight-bold ml-2 devourBtn" data-id="{{id}}"> 
                            Devour Now!</button>
                    </p>
                    {{/unless}}{{/each}}
            </ul>
            
        </div>

        <div class="col-6">
           <h3 class="text eaten text-light">Eaten  <i class="fas fa-hamburger"></i></h3>
            <ul>
                {{#each burgers}} {{#if devoured}}
                <p class="eaten mr-5">
                {{this.id}} {{this.burger_name}}
                </p>
                {{/if}} {{/each}}
            </ul>
        </div>
    </div>

    <div class="row mt-5 text-center text-light">
        {{!-- <div class = "col-6"></div> --}}
        <div class="col-12">
            <h3 class="text pt-4">Add a new burger to Eat</h3>
            <form class="create-form">
            
                <div class="form-group">
                    <label for="ca">Burger Name:</label>
                    <textarea class=" w-25 form-control" id="burgerName" rows="2"></textarea> 
                </div>
            
                <button class="btn btn-success font-weight-bold" id="submitBurger" type="submit">Add Burger</button>
            </form>
        </div>
    </div>
</div>